<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Miljøfest</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="booking">
                <span class="oi oi-clock" aria-hidden="true"></span> Booking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userupdate">
                <span class="oi oi-pencil" aria-hidden="true"></span> Bruger info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assignmentCrud">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Opgave Redigering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shiftCrud">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vagt Redigering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userCrud">
                <span class="oi oi-people" aria-hidden="true"></span> Bruger Redigering
            </NavLink>
        </div>
       
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
