@page "/"

<PageTitle>Miljø Fest | Index</PageTitle>

<div class="jumbotron">
  <h1 class="display-4">Velkommen til Miljø Fest!</h1>
  <p class="lead">Vær med til at gøre en forskel for årets festival ved at være frivillig, hvor du varetager valgfrie opgaver!</p>
  
  <hr class="my-4">
  <p><em>Du får også mulighed for at være en del af interne klubber som bl.a. står for frivilligbar og lign.</em></p>
  
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/createUser" role="button">Opret som frivillig</a>
  </p>
</div>
